
.footer-review{
  height:50px;
  width:90%;
  margin:0 auto;
  /* background-color: slateblue; */
  display:flex;
  justify-content: space-between;
}
.page-info-review{
  /* background-color: blueviolet; */
  width:120px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  font-size: 0.9rem;
}
.btn-list{
  background-color: #ffffff;
  border:none;
  cursor:pointer;
  padding:0;
  width:30px;
  height:30px;
}
.btn-list:hover{
  background-color: lightgray;
  font-weight: bold;
}

.clicked{
  font-weight: bold;
}

.btn-list-box-review{
  height: 30px;
  overflow: hidden;
}

.btn-total-box-review{
  display: flex;
  justify-content: center;
  width:450px;
  height:30px;
  background-color: #ffffff;
  position: relative;
  /* margin-top: 15px; */
}

@media screen and (max-width:1000px){
  .footer-review{
    
  }
}
@media screen and (max-width:540px){
  .footer-review{
    height:30px;
    min-width: 330px;
  }
  .page-info-review{
    font-size: 0.7rem;
  }
  .btn-list-box-review{
    width:90px;
  }
}