
.footer{
  height:100px;
  /* background-color: aqua; */
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn-list{
  background-color: #ffffff;
  border:none;
  cursor:pointer;
  padding:0;
  width:30px;
  height:30px;
}
.btn-list:hover{
  background-color: lightgray;
  font-weight: bold;
}

.clicked{
  font-weight: bold;
}

.btn-list-box{
  height: 30px;
  width:300px;
  overflow: hidden;
}

.btn-total-box{
  display: flex;
  justify-content: center;
  width:450px;
  height:30px;
  background-color: #ffffff;
  position: relative;
}

@media screen and (max-width:1000px){
  .footer{
    min-width: 740px;
  }
}
@media screen and (max-width:540px){
  .footer{
    height:30px;
    min-width: 330px;
  }
  .btn-list-box{
    width:90px;
  }
}