
.footer-review{
  /* background-color: slateblue; */
  min-height:30px;
  width:90%;
  margin:20px auto 0;
  padding:0 10px;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-upper{
  /* background-color: aqua; */
  display:flex;
  justify-content: space-between;
}
.search-review{
  /* background-color: blue; */
  width:320px;
}
.search-review-form{
  /* background-color: tomato; */
  display:flex;
  position: relative;
}
.search-review-form>ul{
  background-color: white;
  width: 80px;
  min-height: 30px;
  text-align: left;
  font-size: .9rem;
  overflow:hidden;
  cursor:pointer;
  position: absolute;
  border:1px solid black;
  box-sizing: border-box;
  transition:.2s;
}
.search-review-form>ul>li{
  height: 30px;
  width:100%;
  padding-left: 15px;
  padding-top: 4px;
  box-sizing: border-box;
}
.search-review-form>ul>li:hover{
  background-color: rgba(247, 137, 137, 0.219);
  font-weight: bold;
}
.search-clicked{
  height:120px;
}
.search-selected{
  height:30px;
}
.search-review-form>img{
  /* background-color: #b70f28; */
  position: absolute;
  height:15px;
  left:55px;
  top:8px;
  cursor:pointer;
  transition:.2s;
}
.search-review-form>input{
  /* border:none; */
  height:30px;
  box-sizing: border-box;
  padding:0 5px;
  margin-left: 80px;
}
.search-img-clicked{
  transform:rotate(180deg);
}
.search-img-selected{
  transform:rotate(0deg);
}
.search-review-form>input:focus{
  outline:none;
}
.search-review-form>button{
  background-color: #b70f28;
  color:white;
  border:none;
  cursor:pointer;
  width:40px;
}
.page-info-review{
  /* background-color: blueviolet; */
  width:120px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.8rem;
  color:gray;
  margin-left: 4px;
}
.btn-list{
  background-color: #ffffff;
  border:none;
  cursor:pointer;
  padding:0;
  width:30px;
  height:30px;
}
.btn-list:hover{
  background-color: lightgray;
  font-weight: bold;
}

.clicked{
  font-weight: bold;
}

.btn-list-box-review{
  height: 30px;
  overflow: hidden;
}

.btn-total-box-review{
  display: flex;
  justify-content: center;
  width:450px;
  height:30px;
  background-color: #ffffff;
  position: relative;
  margin:0 auto;
  /* margin-top: 15px; */
}

@media screen and (max-width:1000px){
  .footer-review{
    /* background-color: aqua; */
    width:90%;
    flex-direction: column;
  }
}
@media screen and (max-width:540px){
  .footer-review{
    height:60px;
    min-width: 330px;
  }
  .page-info-review{
    font-size: 0.7rem;
  }
  .btn-list-box-review{
    width:90px;
  }
  
}