.home-wrap{
  margin-top: 25px;
  height:1000px;
  position: relative;
  /* background-color: antiquewhite; */
}
.banner-for-hide{
  margin:0 auto;
  width:92%;
  height:400px;
  /* background-color: aquamarine; */
  overflow:hidden;
  position:relative;
  border-radius: 30px;

}
.banner{
  height:100%;
  overflow: hidden;
  transform: translateX(-0%);
  border-radius: 30px;
  /* transition:.4s; */

}
.banner img{
  float:left;
  border-radius: 30px;
  display:block;
  height:100%;
  float:left;
}

.slide-btn-prev{
  position: absolute;
  z-index: 2;
  font-size: 80px;
  font-weight: 100;
  left:10px;
  top:130px;
  color:rgba(247, 235, 235, 0.267);
  cursor:pointer;
}
.slide-btn-next:hover , .slide-btn-prev:hover{
  color: #e61332;
}
.slide-btn-next{
  position:absolute;
  z-index: 2;
  right:10px;
  top:130px;
  font-size: 80px;
  font-weight: 100;
  color:rgba(247, 235, 235, 0.267);
  cursor:pointer;
}
.slide-click-btn{
  padding:0;
  border:none;
  width:50px;
  height:5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius:8px;
  margin-left: 3px;
}

.today-pick-car{
  /* background-color: yellowgreen; */
  width:90%;
  margin:80px auto 0;
  height:500px;
}
.today-car-title{
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 24px;
  /* margin-top: 20px; */
  /* background-color: aquamarine; */
}
.home-car-list-wrap{
  display:flex;
  /* background-color: #b70f28; */
  justify-content: space-between;
}
.home-car-list-wrap::-webkit-scrollbar{
  width:2px;
  height:0px;
  background-color: #2f3542;
}
.home-car-list-wrap::-webkit-scrollbar-thumb{
  background-color: #b70f28;
}
.pick-car-list{
  /* margin:0 auto; */
  width:30%;
  height:450px;
  /* background-color: aliceblue; */
  text-align: left;
}

.pick-car-img-box{
  width:100%;
  height:250px;
  overflow: hidden;
  border-radius: 14px;
  transition:0.4s;
  margin-bottom: 8px;
}
.pick-car-img-box img{
  height:100%;
  width:100%;
}
.pick-car-maker{
  display:block;
  font-size: 22px;
  margin-bottom: 10px;
}
.pick-car-price{
  display: block;
  font-size: 22px;
  margin-bottom: 5px;
}
.pick-car-year,.pick-car-distance{
  color:rgb(84, 85, 90);
}

.pick-car-img-box:hover{
  transform:translateY(-2px);
  box-shadow: 2px 2px 7px black;
  transform: scale(1.015);
}
.icon-list{
  width:90%;
  /* background-color: antiquewhite; */
  text-align: right;
  margin:15px auto 0;
}
.icon-list img{
  margin-right: 10px;
  transition: .2s;
  cursor:pointer;
}
.icon-list img:hover{
  scale:1.08
}
.copy{
  /* background-color: #b70f28; */
  text-align: right;
  margin:7px auto 0;
  width:90%;
  color:rgb(84, 85, 90);
  font-size: 12px;
}

@media screen and (max-width:1000px){
  .home-wrap{
    min-width:780px;
    height:80vh;
    min-height: 900px;
    /* background-color: #b70f28; */
  }
  .banner-for-hide{
    margin-top: 30px;
    height:300px;
  }
  .slide-btn-prev , .slide-btn-next{
    top:90px;
  }
  .today-pick-car{
    margin-top: 80px;
    height:400px;
  }
  .pick-car-list{
    height:350px;
  }
  .pick-car-img-box{
    height:180px;
  }
  .etc-box{
    width: 100vw;
    position:absolute;
    bottom: 0;
  }
}

@media screen and (max-width:540px){
  .home-wrap{
    margin-top: 0;
    min-width:330px;
    min-height: 750px;
    /* background-color: antiquewhite; */
  }
  .banner-for-hide{
    margin-top: 0;
    width:100%;
    height:160px;
    border-radius: 0px;
    /* background-color: #b70f28; */
  }
  .banner{
    border-radius: 0px;
  }
  .banner img{
    border-radius: 0px;
  }

  .slide-btn-prev , .slide-btn-next{
    top:50px;
    font-size: 40px;
    font-weight: 100;
  }
  .slide-click-btn{
    width:35px;
  }
  .today-car-title{
    font-size: 20px;
    margin-top: 70px;
  }
  .home-car-list-wrap{
    display:block;
    height:310px;
    overflow: scroll;
    border-bottom: 1px solid gray;
    /* background-color: aquamarine; */
  }
  .pick-car-list{
    width:100%;
    height:320px;
    /* background-color: #b70f28; */
  }
  .today-pick-car{
    margin-top: 40px;
  }
  .pick-car-img-box{
    height:200px;
  }
  .icon-list img{
    width:28px;
  }
}