.review-wrap{
  width:100%;
  min-width: 780px;
  height:78vh;
  padding-top: 20px;
  /* background-color: aqua; */
}
.review-header{
  width:90%;
  /* min-width: 780px; */
  margin:0 auto;
  position: relative;
  /* background-color: chartreuse; */
  height:40px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.review-header div{
  /* background-color: aquamarine; */
  height:25px;
  margin:0 10px;
} 
.total-review-count{
  /* background-color: aquamarine; */
  display:flex;
  align-items: center;
  height:40px;
}
.review-write-btn{
  background-color: #b70f28;
  color:white;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 12px;
  display:flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width:80px;
  cursor:pointer;
  transition: 0.2s;
}
.review-write-btn:hover{
  transform: scale(1.05);
}
.review-box{
  /* background-color: bisque; */
  width:100%;
  /* min-width: 780px; */
  height:525px;
}
.review-list{
  width:90%;
  height:auto;
  min-height: 30px;
  /* background-color: blue; */
  margin:0 auto 2px;
  display:flex;
  justify-content: space-around;
}
.review-list-title{
  font-weight: bold;
  background-color: rgba(220, 220, 220, 0.445);
}
.review-list>span{
  display:flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  font-size: 0.9rem;
  border-bottom: 0.2px solid rgba(128, 128, 128, 0.26);
}
.review-list>span:first-child{
  /* background-color: blueviolet; */
  width:5%;
  min-width: 40px;
}
.review-list>span:nth-child(2){
  /* background-color: brown; */
  /* border-radius: 9px; */
  width: 80px;
}
.review-list>span:nth-child(3){
  /* background-color: yellow; */
  text-align: left;
  width:65%;
  word-break: break-all;
  position: relative;
}
.review-list>span:nth-child(3)>a{
  /* background-color: aquamarine; */
  width:90%;
}
.review-list-comment-count{
  /* background-color: #b70f28; */
  color : #54555a;
  margin-left: 8px;
  font-size: .9rem;
  opacity: .9;
  margin-bottom: 2px;
}
.review-list>span:nth-child(4){
  /* background-color: violet; */
  width:120px;
}
.review-list>span:nth-child(5){
  /* background-color: tomato; */
  width:100px;
}
.review-list>span:nth-child(6){
  /* background-color: teal; */
  width:50px;
}
.review-post a:hover{
  font-weight: bold;
}
.review-post:hover{
  background-color: rgba(247, 137, 137, 0.219);
}



@media screen and (max-width:540px){
  .review-wrap{
    min-width: 330px;
    height:500px;
  }  
  .review-header{
    width:100%;
    margin-top: 5px;
  }
  .review-box{
    /* background-color: #7c8ad3; */
  }
  .review-list{
    width:100%;
  }
  .review-list>span:nth-child(2),.review-list>span:first-child{
    display: none;
  }
  .review-list>span:nth-child(3){
    /* background-color: bisque; */
    box-sizing: border-box;
  }
}