.sellpage-wrap{
  height:800px;
  width: 90%;
  min-width: 700px;
  /* background-color: antiquewhite; */
  padding-top: 35px;
  box-sizing: border-box;
  border-top:1px solid black;
  margin: 20px auto 0;
}
.car-img-thumbnail{
  width:600px;
  height:300px;
  overflow: hidden;
  /* background-color: pink; */
  margin:0px auto 20px;
  border:2px solid black;
  border-radius: 12px;
  position: relative;
}
.thumbnail-img{
  height:100%; 
  max-width: 100%;
}
.thmb-span{
  display: block;
  margin-top:20px;
}

.submit-box{
  /* background-color: aquamarine; */
  width: 600px;
  /* height: 100px; */
  margin:0 auto;
  text-align: left;
  padding-left: 40px;
  box-sizing: border-box;
}
.submit-box label{
  display:inline-block;
  width:100px;
  /* background-color: blue; */
  height:40px;
  vertical-align: middle;
  background-color: rgba(169, 169, 169, 0.308);
  cursor: pointer;
  padding-top: 5px;
  /* padding-left: 7px; */
  box-sizing: border-box;
  border-radius: 9px;
  margin-right: 5px;
  margin-bottom: 2px;
  text-align: center;
}
.submit-box label:hover{
  outline:2px solid rgba(169, 169, 169, 0.514);
  background-color: rgba(169, 169, 169, 0.514);
}

.input-empty{
  color : #e61332;
}

.car-img{
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.submit-box input:not(.car-img):focus{
  border:0.2px solid rgba(169, 169, 169, 0.514);
}
.submit-box div{
  margin-bottom: 5px;
  /* border-bottom: 1px solid black; */
  font-size: 1.2rem;
}

.submit-button{
  border:none;
  width:350px;
  height:40px;
  display: block;
  cursor: pointer;
  margin-left: 104px;
  border-radius: 10px;
  margin-top: 40px;
  /* background-color: rgba(169, 169, 169, 0.308); */
  background-color: #e61332;
  color:white;
  font-size: 1.2rem;
  transition: .2s;
}
.submit-button:hover{
  /* background-color: #c7102b; */
  scale: 1.02;
}
.car-input{
  border:1px solid black;
  /* background-color: blueviolet; */
  display:inline-block;
  height:40px;
  width:400px;
  border-radius: 9px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.2rem;
  padding-left: 10px;
  box-sizing: border-box;
}
.input-emp::placeholder{
  color:#e61332;
}
.input-emp{
  border:2px solid #e61332;
  display:inline-block;
  height:40px;
  width:400px;
  border-radius: 9px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.2rem;
  padding-left: 10px;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin:0;
}